@import '../../stylesheets/medias';

.login-form {
  width: 100%;
  max-width: 1120px;

  display: flex;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 3rem;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  @include xs {
    padding: 1rem;
    flex-direction: column-reverse;
    padding-bottom: 50px;
    border-radius: 0;
  }

  @include sm {
    padding: 2rem;
    padding-bottom: 50px;
    flex-direction: column-reverse;
    border-radius: 0;
  }

  @include md {
    padding: 2em;
    padding-bottom: 50px;
    flex-direction: row;
    flex-direction: column-reverse;
    border-radius: 0;
  }

  @include lg {
    padding: 3rem;
    flex-direction: row;
    border-radius: 8px;
  }

  &__inputs {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;

    form input {
      width: 100%;
      height: 60px;
      color: #333;
      border: 1px solid #dcdce6;
      border-radius: 8px;
      margin-top: 10px;
      padding: 0 24px;
    }
  }

  &__img {
    width: 50%;
  }
}
