.dragons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3em;
  padding: 1.5em;

  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    list-style: none;
  }

}