.dragons {


  width: 100%;
  max-width: 1180px;
  padding: 0 30px;
  margin: 32px auto;

  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    list-style: none;
  }

}