@import '../../stylesheets/medias';

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1120px;
  color: black;

  @include xs {
    padding: 1em;
  }

  @include sm {
    padding: 1em;
  }

  @include md {
    padding: 1em;
  }

  @include lg {
    padding: 0;
  }

  &__icon {
    text-align: center;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
