.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  margin: 3em;
  padding: 1.5em;
  border-radius: 15px;

  &__left {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    ul {
      display: flex;
      flex-direction: row;
      align-items: center;

      
      li {
        
        display: inline;
        color: #a4a7b1;

        font-size: 20px;
        line-height: 1;
        margin-right: 15px;
        font-weight: 500;

        &:first-child {
          margin-left: 15px;
          padding-right: 30px;
          border-right: 1px solid #a4a7b1;
          margin-right: 30px;

        }

        &.active {
          color: #39383d;
        }
      }
    }
  }

  &__right {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    img {
      margin-left: 20px;
      border-radius: 15px;
      width: 50px;
    }
  }
}
