.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;


  &__left {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  &__right {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}