.login-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;

  .header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .logoContainer {
      img {
        display: block;
        text-indent: -9999px;
        width: 100px;
        height: 82px;
        background-size: 100px 82px;
      }
    }
  }
  


  .form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

